.container {
  background: #1d1f20;
  font-family: arial;
  height: 100vh;
}
.header {
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
}

h1.heading {
  text-transform: uppercase;
  font-size: 10em;
  color: rgba(255, 255, 255, .1);
  background: linear-gradient(90deg, #1F6823, #D6E684, #1F6823);
  -webkit-background-clip: text;
}
